
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
<div id='map' style='width: 100%; height: 50%;'></div>

<script>

var geojson = {
'type': 'geojson',
    'data': {
        'type': 'Feature',
        'properties': {},
        'geometry': {
            'type': 'LineString',
             'coordinates': {{ coordinates }}
        }
    }
}




mapboxgl.accessToken = 'pk.eyJ1IjoiamphcmEiLCJhIjoiY2tkOGpkcDVzMGRuejJyb2RsYmUxcDZubCJ9.7-rob0zcnIsBcmy4SGL-_A';


var coords = {{ coordinates }}
//var velas = {{ velas }}
//var coordinates = geojson.data.geometry.coordinates
var bounds = coords.reduce(function(bounds, coord) {
            return bounds.extend(coord);
        }, new mapboxgl.LngLatBounds(coords[0], coords[0]));


var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: coords[0], // starting position [lng, lat]
//center: bounds.center,
zoom: 8 // starting zoom

 //   zoom: bounds.zoom
});





var vel = {{ velocidad }}
var direccion = {{ direccion }}
//let num_trasluchadas = trasluchadas(direccion)
map.on('load', function () {
var fc = {"type": "FeatureCollection", "features": []}
var size = 2;

for (var i=0; i<coords.length; i+=size-1) {
    var smallarray = coords.slice(i,i+size);
    var velAux = parseInt(vel[i],10)
		// Split the original linestring into chunks.
    // Each chunk goes in a specific feature.
    fc.features.push({
                "type": "Feature",
                // Fake elevation information.
                "properties": {"ele": velAux},
                "geometry": {
                    "type": "LineString",
                    "coordinates": smallarray
                }
            })
          
}
 
map.loadImage(
    '/assets/img/start.png',
    function (error, image) {
        if (error) throw error;
        map.addImage('cat', image);
        map.addSource('point', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                 'features': [
                {
                'type': 'Feature',
                'geometry': {
                    'type': 'Point',
                    'coordinates': coords[0]
                }
                }
                ]
            }
        });
        
        map.addLayer({
        'id': 'points',
        'type': 'symbol',
        'source': 'point',
        'layout': {
        'icon-image': 'cat',
        'icon-size': 0.02
        }
        });
    }
);

map.loadImage(
    '/assets/img/end.jpg',
    function (error, image) {
        if (error) throw error;
        map.addImage('cat2', image);
        map.addSource('point2', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                 'features': [
                {
                'type': 'Feature',
                'geometry': {
                    'type': 'Point',
                    'coordinates': coords[coords.length-1]
                }
                }
                ]
            }
        });
        
        map.addLayer({
        'id': 'points2',
        'type': 'symbol',
        'source': 'point2',
        'layout': {
        'icon-image': 'cat2',
        'icon-size': 0.02
        }
        });
    }
);


map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
            "type": "geojson",
            "data": fc
        },
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
        	  // Data driven line color at works. 
            "line-color":  {
            "property": "ele",
            "type": "exponential",
            "stops": [
                [-3, "#FFFF00"],
                [20, "#FF0000"],
                [30, "#0000FF"]
        ]},
            "line-width": 8
        }
    });



        // Pass the first coordinates in the LineString to `lngLatBounds` &
        // wrap each coordinate pair in `extend` to include them in the bounds
        // result. A variation of this technique could be applied to zooming
        // to the bounds of multiple Points or Polygon geomteries - it just
        // requires wrapping all the coordinates with the extend method.
        
       // var bounds = coordinates.reduce(function(bounds, coord) {
       //     return bounds.extend(coord);
      //  }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));


        map.fitBounds(bounds, {
            padding: 100, animate: true, duration: 3000
    
        });
/*
        var marker1 = new mapboxgl.Marker()
        .setLngLat(coords[0])
        .addTo(map);
     */   
});

//Codigo a Ejecutar al Cargar la Pagina
function myOnLoad() {
 cargar_velas()
 var num_trasluchadas = trasluchadas()
}

// funcion para Cargar Provincias al campo <select>
function cargar_velas() {
 var array = ["Cantabria", "Asturias", "Galicia", "Andalucia", "Extremadura"];

 // Ordena el Array Alfabeticamente, es muy facil ;)):
 array.sort();

 addOptions("velas", array);
}

// Rutina para agregar opciones a un <select>
function addOptions(domElement, array) {
 var select = document.getElementsByName(domElement)[0];

 for (value in array) {
  var option = document.createElement("option");
  option.text = array[value];
  select.add(option);
 }
}






function trasluchadas(direccion){
    

    for (var i=0; i<coords.length; i+=size-1) {
            console.log(direccion[i])

    }
}

</script>