
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
<div id='map' style='width: 100%; height: 50%;'></div>

<script>

var geojson = {
'type': 'geojson',
    'data': {
        'type': 'Feature',
        'properties': {},
        'geometry': {
            'type': 'LineString',
             'coordinates': {{ coordinates }}
        }
    }
}




mapboxgl.accessToken = 'pk.eyJ1IjoiamphcmEiLCJhIjoiY2tkOGpkcDVzMGRuejJyb2RsYmUxcDZubCJ9.7-rob0zcnIsBcmy4SGL-_A';


var coords = {{ coordinates }}
//var coordinates = geojson.data.geometry.coordinates
var bounds = coords.reduce(function(bounds, coord) {
            return bounds.extend(coord);
        }, new mapboxgl.LngLatBounds(coords[0], coords[0]));


var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: coords[0], // starting position [lng, lat]
//center: bounds.center,
zoom: 8 // starting zoom

 //   zoom: bounds.zoom
});



/*
var marker = new mapboxgl.Marker()
.setLngLat([coords[0], coords[1]])
.addTo(map);
*/

/*
map.on('load', function() {
    map.addSource('route',geojson);
    map.addLayer({
        'id': 'route',
        'type': 'line',
        'source': 'route',
        'layout': {
        'line-join': 'round',
        'line-cap': 'round'
        },
        'paint': {
        'line-color': 'RED',
        'line-width': 5
    }
}); 
*/

var vel = {{ velocidad }}
map.on('load', function () {
var fc = {"type": "FeatureCollection", "features": []}
var size = 2;

for (var i=0; i<coords.length; i+=size-1) {
    var smallarray = coords.slice(i,i+size);
    var velAux = parseInt(vel[i],10)
		// Split the original linestring into chunks.
    // Each chunk goes in a specific feature.
    fc.features.push({
                "type": "Feature",
                // Fake elevation information.
                "properties": {"ele": velAux},
                "geometry": {
                    "type": "LineString",
                    "coordinates": smallarray
                }
            })
            
}
 
map.loadImage(
    '/assets/img/start.png',
    function (error, image) {
        if (error) throw error;
        map.addImage('cat', image);
        map.addSource('point', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                 'features': [
                {
                'type': 'Feature',
                'geometry': {
                    'type': 'Point',
                    'coordinates': coords[0]
                }
                }
                ]
            }
        });
        
        map.addLayer({
        'id': 'points',
        'type': 'symbol',
        'source': 'point',
        'layout': {
        'icon-image': 'cat',
        'icon-size': 0.02
        }
        });
    }
);

map.loadImage(
    '/assets/img/end.jpg',
    function (error, image) {
        if (error) throw error;
        map.addImage('cat2', image);
        map.addSource('point2', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                 'features': [
                {
                'type': 'Feature',
                'geometry': {
                    'type': 'Point',
                    'coordinates': coords[coords.length-1]
                }
                }
                ]
            }
        });
        
        map.addLayer({
        'id': 'points2',
        'type': 'symbol',
        'source': 'point2',
        'layout': {
        'icon-image': 'cat2',
        'icon-size': 0.02
        }
        });
    }
);


map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
            "type": "geojson",
            "data": fc
        },
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
        	  // Data driven line color at works. 
            "line-color":  {
            "property": "ele",
            "type": "exponential",
            "stops": [
                [0, "#FF0000"],
                [10, "#00FF00"]
        ]},
            "line-width": 8
        }
    });



        // Pass the first coordinates in the LineString to `lngLatBounds` &
        // wrap each coordinate pair in `extend` to include them in the bounds
        // result. A variation of this technique could be applied to zooming
        // to the bounds of multiple Points or Polygon geomteries - it just
        // requires wrapping all the coordinates with the extend method.
        
       // var bounds = coordinates.reduce(function(bounds, coord) {
       //     return bounds.extend(coord);
      //  }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));


        map.fitBounds(bounds, {
            padding: 150, animate: true, duration: 3000
    
        });
/*
        var marker1 = new mapboxgl.Marker()
        .setLngLat(coords[0])
        .addTo(map);
     */   
});



</script>

<p>hora inicio: {{ hora }}</p>
<p>hora fin: {{ hora_fin }}</p>
<p>tiempo navegado: {{ sesion }} </p>
<p>velocidad máxima: {{ velMax}} </p>
<br>
<p>Spot: {{ spot}} </p>
<p>Nudos: {{ viento}} </p>
<p>Direccion: <svg data-v-47880d39="" width="30" height="30" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" class="icon-wind-direction" style="transform: rotate({{ dir }}deg);">
        <g data-v-47880d39="" fill="#48484a">
            <path data-v-47880d39="" d="M510.5,749.6c-14.9-9.9-38.1-9.9-53.1,1.7l-262,207.3c-14.9,11.6-21.6,6.6-14.9-11.6L474,48.1c5-16.6,14.9-18.2,21.6,0l325,898.7c6.6,16.6-1.7,23.2-14.9,11.6L510.5,749.6z">
            </path>
            

            </path></g></svg>
<p>Temperatura: {{ temp }} </p>
<p>clima: {{ clima }} </p>



 
<!--
<p>Tiempo en planeo: </p>
<p>porcentaje de planeo: </p>
<p>comentarios: </p><br>

<p>Usuario que han navegado en este spot hoy</p>

-->
